    -# .header
    -#   .headerTitle
    -#     .mainheader
    -#       %h1.icon
    -#         %a{ href: '#' }
    -#           = image_tag "logo.png"
    -#       .search
    -#         %form{:action => "#", :method => "get"}
    -#           %input.searchbox{"placeholder": "キーワードから探す"}
    -#           %button{"type": "submit"}
    -#             .buttonicon
    -#               = image_tag "icon-search1.png"
    -#     .navclass
    -#       %ul.leftbar
    -#         %li.left-left
    -#           %a{ href: '#' }カテゴリー
    -#         %li.left-right
    -#           %a{ href: '#' }ブランド
    -#       %ul.rightbar
    -#         %li.right-left
    -#           %a{ href: '#' }ログイン
    -#         %li.right-right
    -#           %a{ href: '#' }新規登録画面