.subtilte
  %aside.subtilte__inner
    %h2.inner-tilte だれでも簡単、人生を変えるフリマアプリ
    %p.inner-text 今すぐ無料ダウンロード
    .inner__icon
      %a.abtn{ href: '#' }
        = image_tag "logoa.png"
      %a.bbtn{ href: '#' }
        = image_tag "logog.png"

