.footer {
  padding: 60px 0;
  color: #fff;
  background-color: #272727;
  text-align: center;
  .footerTitles{
    max-width: 840px;
    margin: 0 auto;
    display: flex;
    .content1{
      display: flex;
      flex-direction: column;
      width: calc(1 / 3 * 100%);
      margin: 0 2% 0 0;
      .content1-head{
        margin: 0 0 20px;
        font-size: 16px;
        font-weight: bold;
      }
      ul {
        list-style: none;
        li {
          margin: 0;
          padding: 0;
          a{
            color: #fff;
            text-decoration: none;
            font-size: 12px;
            line-height: 32px;
          }
        }
      }
    }
  }
  .footer-logo{
    max-width: 160px;
    width: 100%;
    margin: 0 auto;
    img{
      width: 160px;
      height: 46px;
    }
    p{
      font-size: 14px;
    }
  }
}
.purchasebtn{
  width: 120px;
  background: #3CCACE;
  text-align: center;
  border-radius: 4%;
  bottom: 32px;
  right: 32px;
  position: fixed;
  padding: 15px;
  &__text{
    color: #fff;
    display: block;
    font-size: 18px;
    margin-bottom: 5px;
  }
  &__icon{
    width: 60%;
  }
}

a{
  text-decoration: none;
}