
*{
  box-sizing: border-box;
  font-family:"Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
  a{
    cursor: pointer;
    text-decoration: none;
  }
}

.header{
  width: 100%;
  height: 98px;
  padding:  0 60px;
  a{
    color:$font-black;
  }
  
  .topHeader{
    max-width: 1040px;
    margin: 0 auto;
    padding-top:15px ;

    &__main{
      display: flex;
      align-items: center;
      justify-content: center;

      &--logo{
        margin-right: 30px;
        display: block;
      }
      
      .search-form{
        width: 1040px;
        height: 38px;
      .search-box{
        display: flex;

        &__text{
          width: 100%;
          height: 38px;
          padding-left: 5px;
        }
        &__btn{
          width: 38px;
          height: 38px;
          background-color: $main-color;
          cursor: pointer;
          border: 1px solid;
          border-color:$main-color;
        }
          :hover{
            opacity: 0.9;
          }
        }
      }
    }
  }
}
  

    .nav-bar{
      width: 100%;
      display: flex;
      justify-content:space-between;
      font-size: 14px;
      margin-bottom: 10px;
      padding-top:10px;

      &__left{
        display: flex;
        li{
          padding-right: 30px;
        }

        .category-menu {
          background-color: white;
          display: flex;
          position: absolute;
          z-index: 10;
          margin-top: 8px;
          box-shadow: 1px 1px 1px lightgray;
          visibility: hidden;
          
          .category-list {
            font-size: 16px;
            
            .category {
              display: block;
              padding: 10px;
              min-width: 148px;
            }

            .selected-parent {
              background-color: $main-color;
              color: white;
            }

            .selected-child {
              background-color: #f5f5f5;
            }

            .grandchild_category:hover {
              background-color: #f5f5f5;
            }
          }
        }
      }
    }


.header {
 padding: 0 60px;
 .headerTitle{
   min-height: 82px;
   max-width: 1040px;
   width: 100%;
   margin: 0 auto;
   padding: 15px 0 0;
 
   .mainheader{
     position: relative;
     display: flex;
     align-items: center;
     .icon{
       padding-bottom: 10px;
       margin-right: 30px;
       border-radius: 4px;
       a{
        width: 140px;
        display: block;
          img{
            width: 100%;
            vertical-align: bottom;
          }
       }
    }
      .search{
        margin-left: auto;
        width: 100%;
        form{
          width: 100%;
          margin-bottom: 5px;
          display: flex;
          .searchbox{
            width: calc(100% - 26px);
            height: 36px;
            padding: 0 0 0 5px;
          }
          button{
            width: 36px;
            border: 0;
            cursor: pointer;
            background-color: #3CCACE;
            padding: 8px;
            .buttonicon{
              display: block;
              img{
                width: 100%;
                vertical-align: bottom;
              }

            }
          }
        }
      }

      &__right{
        display: flex;  
        li{
          padding-left: 30px;
        }
      }
    }
  }
}

.exhibition-btn{
  width: 118px;
  height: 118px;
  background-color:$main-color;
  color: $basic-white;
  text-align: center;
  border-radius: 4%;
  position: fixed;
  bottom: 32px;
  right: 32px;
  cursor: pointer;
    :hover{
      opacity: 0.8;
    }

  &__text{
    padding-top: 15px;
    padding-bottom: 5px;
    font-size: 18px;
  }
}

.second-header {
  width: 100%;
  height: 48px;
  padding: 0 60px 0 50px;
  border-top: 1px solid lightgray;
  
  .breadcrumbs-list {
    max-width: 1040px;
    margin: 0 auto;
    font-size: 14px;
    line-height: 48px;

    a {
      color: #333333;
      margin: 0 10px;

      &:hover {
        color: gray;
        text-decoration: underline;
      }
    }

    .current {
      margin-left: 10px;
      font-weight: bold;
    }
  }
}

.header {
  padding: 0 60px;
  .headerTitle{
    min-height: 82px;
    max-width: 1040px;
    width: 100%;
    margin: 0 auto;
    padding: 15px 0 0;
 
    .mainheader{
      position: relative;
      display: flex;
      align-items: center;
      .icon{
        padding-bottom: 10px;
        margin-right: 30px;
        border-radius: 4px;
        a{
         width: 140px;
         display: block;
           img{
             width: 100%;
             vertical-align: bottom;
           }
        }
     }
       .search{
         margin-left: auto;
         width: 100%;
         form{
           width: 100%;
           margin-bottom: 5px;
           display: flex;
           .searchbox{
             width: calc(100% - 26px);
             height: 36px;
             padding: 0 0 0 5px;
           }
           button{
             width: 36px;
             border: 0;
             cursor: pointer;
             background-color: #3CCACE;
             padding: 8px;
             .buttonicon{
               display: block;
               img{
                 width: 100%;
                 vertical-align: bottom;
               }
             }
           }
         }
       }
   }
   .navclass{
     font-size: 14px;
     display: flex;
     margin-bottom: 10px;
     .leftbar{
       position: relative;
       display: flex;
       .left-left{
         text-decoration: none;
         padding: 0;
         a{
           color: #333;
           text-decoration: none;
           line-height: 32px;
           background-position: center right;
           background-repeat: no-repeat;
           background-size: 18px;
           padding-right: 30px;
         }
       }
       .left-right{
         a{
           color: #333;
           text-decoration: none;
           line-height: 32px;
           background-position: center right;
           background-repeat: no-repeat;
           background-size: 18px;
           padding-right: 30px;
         }
       }
     }
     .rightbar{
       margin-left: auto;
       display: flex;
       text-decoration: none;
 
       .right-left{
         a{
           display: flex;
           padding-right: 20px;
           align-items: center;
           color: #333;
           text-decoration: none;
           line-height: 32px;
         }
       }
       .right-right{
         a{
           display: flex;
           align-items: center;
           color: #333;
           text-decoration: none;
           line-height: 32px;
         }
       }
     }
   }
  }
}
 
  .navclass{
    font-size: 14px;
    display: flex;
    margin-bottom: 10px;
    .leftbar{
      position: relative;
      display: flex;
      .left-left{
        text-decoration: none;
        padding: 0;
        a{
          color: #333;
          text-decoration: none;
          line-height: 32px;
          background-position: center right;
          background-repeat: no-repeat;
          background-size: 18px;
          padding-right: 30px;
        }
        // .tree{カテゴリードロップダウン用
        //   z-index: 2;
        //   position: absolute;
        //   background-color: #fff;
        //   width: 240px;
        //   top: 40px;
        //   display: none;
        //   .category-parent{
        //     background-color: #fff;
        //     flex-direction: column;
        //     position: relative;
        //     .treeitem{
        //       position: relative;
        //         .category-child{
        //           min-height: 480px;
        //           background-color: #fff;
        //           display: flex;
        //           flex-direction: column;
        //           position: absolute;
        //           top: 0;
        //           left: 240px;
        //         }
        //     }
        //   }
        // }
      }
      .left-right{
        a{
          color: #333;
          text-decoration: none;
          line-height: 32px;
          background-position: center right;
          background-repeat: no-repeat;
          background-size: 18px;
          padding-right: 30px;
        }
      }
    }
    .rightbar{
      margin-left: auto;
      display: flex;
      text-decoration: none;

      .right-left{
        a{
          display: flex;
          padding-right: 20px;
          align-items: center;
          color: #333;
          text-decoration: none;
          line-height: 32px;
        }
      }
      .right-right{
        a{
          display: flex;
          align-items: center;
          color: #333;
          text-decoration: none;
          line-height: 32px;
        }
      }
    }
  }
