.main{
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;
  position: relative;
  height: auto !important;
  min-height: 100%;
  width: 100vw;
  .main-head{
    width: 100%;
    height: 560px;
    background-image: url(/public/assets/bg-mainVisual-pict_pc1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    position: relative;
    padding: 0 60px;
    display: flex;
    align-items: center;
    .main-content{
      max-width: 1280px;
      width: 100%;
      margin: 0 auto;
      padding: 35px 0 0 0;
      .content-subtitle{
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
        font-size: 60px;
        line-height: 1.2;
        color: #fff;
      }
      p{
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
        font-size: 18px;
        color: #fff;
        line-height: 1.77778;
        margin: 16px 0 0 0;
      }
      .inner__icon{
        display: flex;
        a{
          margin-right: 10px;
          .inner__icon2{
            width: 180px;
            &.inner__icon2:hover{
              opacity: 0.5;
            }
          }
        }
      }
    }
  }
  .topsecound{
    padding: 60px 20px;
    .subtitle{
      text-align: center;
      font-size: 26px;
      line-height: 1.4;
      font-weight: bold;
      margin-bottom: 25px;
      padding-bottom: 15px;
      position: relative;
    }
    .subtitle:after{
      content: "";
      width: 70px;
      height: 4px;
      background-color: #3CCACE;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
    .topsecound-lists{
      text-align: center;
      display: flex;
      max-width: 1020px;
      width: 100%;
      margin: 0 auto;
      .topsecound-list{
        width: 30%;
        margin: 16px 5% 0 0;
        text-align: left;
        display: flex;
        flex-direction: column;
        align-items: center;
        &__pict{
          position: relative;
          margin-bottom: 20px;
          .number{
            display: inline-block;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 4%;
            font-size: 30px;
            text-align: center;
            margin: 0 5px 0 0;
            padding: 10px 20px;
            background-color: #3CCACE;
            color: #fff;
          }
        }
        img{
          width: 100%;
          vertical-align: bottom;
        }
        &__text{
          font-weight: bold;
          font-size: 24px;
          line-height: 50px;
          margin: 0 0 0 2px;
          span{
            color: #3CCACE;
          }

        }
        &__description{
          font-size: 18px;
          line-height: 1.5;
          margin: 16px 0 0;
        }
      }
      .topsecound-last{
        margin: 16px 0 0;
        &__text{
          font-weight: bold;
          font-size: 24px;
          line-height: 50px;
          margin: 0 0 0 2px;
          span{
            color: #3CCACE;
          }
        }
        &__description{
          font-size: 18px;
          line-height: 1.5;
          margin: 16px 0 0;
        }
      }
    }
  }
  .topthird{
    background-image: url(/public/assets/bg-topMiddleDl-pict1.jpg);
    background-position: bottom right;
    height: 400px;
    background-size: cover;
    display: flex;
    align-items: center;
    .topthirdinner{
      color: #fff;
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      text-align: left;
      max-width: 1040px;
      width: 100%;
      margin: 0 auto;
      .thirdtitle{
        font-size: 27px;
        font-weight: bold;
        line-height: 1.4;
        .text{
          font-size: 18px;
          margin: 20px 0 30px;
          line-height: 1.5;
        }
      }
      .inner__icon{
        display: flex;
        a{
          margin-right: 10px;
          .inner__icon2{
            width: 180px;
            &.inner__icon2:hover{
              opacity: 0.5;
            }
          }
        }
      }
    }
  }
  .topfour{
        padding: 60px 100px;
        background-color: #fff;
    .headfour{
      font-size: 27px;
      text-align: center;
      margin: 0 0 40px;
      font-weight: bold;
      margin-bottom: 25px;
      padding-bottom: 15px;
      position: relative;
    }
    .headfour:after{
      content: "";
      width: 70px;
      height: 4px;
      background-color: #3CCACE;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
    .threeitems{
      max-width: calc(1040px + 20px);
      width: 100%;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      .item{
        display: flex;
        flex-direction: column;
        width: calc(1 / 3 * 100%);
        text-align: center;
        padding: 0 20px;
        &__item{
          width: 70%;
          margin: 0 auto;
          line-height: 120px;
        }
        img{
          width: 100%;
          vertical-align: bottom;
        }
        .item__subtitle{
          margin: 38px 0 10px;
          font-size: 19px;
          font-weight: bold;
        }
      }
    }
  }
  .pickupkategori{
    padding: 80px 0 0;
    background-color: #f8f8f8;
    height: 100%;
    .kategorihead{
      text-align: center;
      font-size: 28px;
      line-height: 1.4;
      font-weight: bold;
    }
    .productbox{
      .productboxhead{
        text-align: center;
        a{
          font-size: 24px;
          text-decoration: none;
          color: #3CCACE;
          h3 {
          font-weight: bold;
          }
        }
      }
    }
    .productlists{
      width: 1165px;
      margin: 26px auto;
      display: flex;
      justify-content: start;
      flex-wrap: wrap;
      .Products {
        position: relative;
        .SoldOutMsg {
          width: 200px;
          height: 30px;
          text-align: center;
          font-weight: bold;
          font-size: 30px;
          color: #FF0000;
          opacity: 0.3;
          position: absolute;
          top: 57px;
          left: 16px;
        }
        .Product {
          width: 233px;
          height: 245px;
          text-decoration: none;
          display: block;
          .ItemImage {
            width: 233px;
            height: 150px;
          }
          .ItemDetail {
            padding: 16px;
            color: #333;
            background-color: white;
            &__Details {
              margin-top: 3px;
              font-weight: bold;
              display: flex;
              justify-content: space-between;
              .Price {
                font-family: Arial;
                p {
                  font-size: 10px;
                }
              }
            }
          }
        }
      }
      .Products {
        .Product {
          width: 233px;
          height: 245px;
          text-decoration: none;
          display: block;
          .ItemImage {
            width: 233px;
            height: 150px;
          }
          .ItemDetail {
            padding: 16px;
            color: #333;
            background-color: white;
            &__Details {
              margin-top: 3px;
              font-weight: bold;
              display: flex;
              justify-content: space-between;
              .Price {
                font-family: Arial;
                p {
                  font-size: 10px;
                }
              }
            }
          }
        }
        &:hover {
          opacity: 0.6;
        }
      }
    }
  }
  .productbrnd{
    margin-bottom: 150px;
    padding: 80px 0 0;
    background-color: #f8f8f8;
    height: 100%;
    .kategorihead{
      text-align: center;
      font-size: 28px;
      line-height: 1.4;
      font-weight: bold;
    }
    .productbox{
      .productboxhead{
        text-align: center;
        a{
          font-size: 24px;
          text-decoration: none;
          color: #3CCACE;
          h3 {
          font-weight: bold;
          }
        }
      }
    }
    .productlists{
      width: 1165px;
      margin: 26px auto;
      display: flex;
      justify-content: start;
      flex-wrap: wrap;
      .Products {
        position: relative;
        .SoldOutMsg {
          width: 200px;
          height: 30px;
          text-align: center;
          font-weight: bold;
          font-size: 30px;
          color: #FF0000;
          opacity: 0.3;
          position: absolute;
          top: 57px;
          left: 16px;
        }
        .Product {
          width: 233px;
          height: 245px;
          text-decoration: none;
          display: block;
          .ItemImage {
            width: 233px;
            height: 150px;
          }
          .ItemDetail {
            padding: 16px;
            color: #333;
            background-color: white;
            &__Details {
              margin-top: 3px;
              font-weight: bold;
              display: flex;
              justify-content: space-between;
              .Price {
                font-family: Arial;
                p {
                  font-size: 10px;
                }
              }
            }
          }
        }
      }
      .Products {
        .Product {
          width: 233px;
          height: 245px;
          text-decoration: none;
          display: block;
          .ItemImage {
            width: 233px;
            height: 150px;
          }
          .ItemDetail {
            padding: 16px;
            color: #333;
            background-color: white;
            &__Details {
              margin-top: 3px;
              font-weight: bold;
              display: flex;
              justify-content: space-between;
              .Price {
                font-family: Arial;
                p {
                  font-size: 10px;
                }
              }
            }
          }
        }
        &:hover {
          opacity: 0.6;
        }
      }
    }
  }
}



.topthird{
  background-image: url(/public/assets/bg-topMiddleDl-pict1.jpg);
  background-position: bottom right;
  height: 400px;
  background-size: cover;
  display: flex;
  align-items: center;
  .topthirdinner{
    color: #fff;
    text-shadow: 0 0 5px rgba(0,0,0,0.4);
    text-align: left;
    max-width: 1040px;
    width: 100%;
    margin: 0 auto;
    .thirdtitle{
      font-size: 27px;
      font-weight: bold;
      line-height: 1.4;
      .text{
        font-size: 18px;
        margin: 20px 0 30px;
        line-height: 1.5;
      }
    }
    .inner__icon{
      display: flex;
      a{
        margin-right: 10px;
        .inner__icon2{
          width: 180px;
          &.inner__icon2:hover{
            opacity: 0.5;
          }
        }
      }
    }
  }
}

