%aside.subtilte
  .subtilte__inner
    %h2.inner-tilte
      だれでも簡単、人生を変えるフリマアプリ
    %p.inner-text
      今すぐ無料ダウンロード
    .inner__icon
      = link_to image_tag("logoa.png", class:"inner__icon3"), "#"
      = link_to image_tag("logog.png", class:"inner__icon3"), "#"